* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.resort-header{
    text-align: center;
    color: green;
 
}

/* navigation bar */

nav li {
    list-style-type: none;
}
nav a {
    text-decoration: none;
    display: block;
    font-size: 20px;
    color: black;
}
/* .navbar {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    background-color: aliceblue;
    padding: 1.5rem;
}

.navbar a:hover{
    color:red;
    text-decoration: underline;
} */
